body {
  background-color: rgb(78, 78, 189);
  margin: 0;
}
.App {
  display: flex;
  width: 1250px;
  flex-wrap: wrap;
  margin: 8px auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.single-card {
  margin: 0 3px 3px 0;
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#click {
  position: absolute;
  top: 830px;
  right: 13%;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  color: rgb(78, 78, 189);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}
button {
  background-color: rgb(78, 78, 189);
  color: white;
  border: 1px solid grey;
  padding: 5px 0;
  margin-bottom: 20px;
}
img {
  width: 100%;
  height: 100%;
  display: none;
}
.counter {
  font-size: 3rem;
}
.show {
  display: block;
}
